<div class="container">
  <div class="top-container">
    <div class="movie">
      <img
        src="http://image.tmdb.org/t/p/w500{{ movie?.poster_path }}"
        alt=" {{ movie.original_title }} "
      />

      <button mat-raised-button color="primary" (click)="addToFavorites()">
        <mat-icon
          class="icon-display"
          [ngClass]="status ? 'btn-change' : 'icon-display'"
          >favorite</mat-icon
        >
        Add To Favorites
      </button>

      <button mat-raised-button color="warn" (click)="watchTrailer()">
        <mat-icon class="icon-display">play_arrow</mat-icon> Watch Trailer
      </button>

      <button mat-raised-button color="accent" (click)="postRating()">
        <mat-icon class="icon-display">grade</mat-icon> Rate Movie
      </button>
    </div>

    <div class="movieInfo">
      <h1 style="font-size: 50px">{{ movie.original_title }}</h1>

      <p>{{ movie.overview }}</p>
      <p>{{ "Country: United States of America" }}</p>
      <p>{{ "Released: " + movie.release_date }}</p>
      <p>{{ "Runtime: " + movie.runtime + " min" }}</p>
      <p>{{ "Your rating: " + rating }}</p>
    </div>
  </div>

  <form (ngSubmit)="postComment()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>

      <textarea matInput [formControl]="CommentForm"></textarea>
      <button mat-button matSuffix>Submit</button>
    </mat-form-field>
  </form>
  <div *ngFor="let comment of comments">
    <div style="margin: 10px">
      {{ comment.postedBy + " : " + comment.comment }}
    </div>
  </div>
</div>
