<div class="form">
  <form [formGroup]="registrationForm" (ngSubmit)="registerUser()" class="form">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input
        type="text"
        matInput
        placeholder="Username"
        formControlName="username"
      />
      <mat-error *ngIf="registrationForm.controls['username'].invalid">
        username is required
      </mat-error>
    </mat-form-field>

    <div></div>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="!registrationForm.controls['password'].valid">
        password is required
      </mat-error>
    </mat-form-field>

    <div></div>

    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="confirmPassword"
        formControlName="confirmPassword"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>

      <mat-error *ngIf="!registrationForm.controls['confirmPassword'].valid">
        Confirmation password is required
      </mat-error>
    </mat-form-field>

    <p style="color: red">{{ message }}</p>

    <div style="margin-top: 10px">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="button"
        [disabled]="!registrationForm.valid"
      >
        <mat-icon class="icon-display">chevron_right</mat-icon>
        <span> Register</span>
      </button>
    </div>
  </form>
</div>
