<form [formGroup]="registrationForm" (ngSubmit)="registerUser()" class="form">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" />
  </mat-form-field>

  <div [hidden]="username.valid || username.untouched" class="error">
    <div [hidden]="!username.hasError('required')">Username is required.</div>
  </div>

  <br />

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div [hidden]="password.valid || password.untouched" class="error">
    <div [hidden]="!password.hasError('required')">password is required.</div>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="confirmPassword"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <div
    [hidden]="confirmPassword.valid || confirmPassword.untouched"
    class="error"
  >
    <div [hidden]="!confirmPassword.hasError('required')">
      confirmation password is required.
    </div>
  </div>
  <br />
  <div>
    <button type="submit" [disabled]="!registrationForm.valid">Register</button>
  </div>
</form>
