<mat-sidenav-container class="color">
  <mat-sidenav mode="side" opened class="mat-elevation-z8">
    <button mat-button class="menu-button">
      <a [routerLink]="['home']" style="margin: 20px">
        <mat-icon>home</mat-icon>
        <span>Home</span>
        ></a
      >
    </button>

    <button mat-button class="menu-button">
      <a [routerLink]="['profile']" style="margin: 20px">
        <mat-icon>person</mat-icon> <span> Profile</span></a
      >
    </button>

    <button mat-button class="menu-button">
      <a [routerLink]="['search']" style="margin: 20px">
        <mat-icon>person</mat-icon> <span> Search</span></a
      >
    </button>

    <button mat-button class="menu-button">
      <a [routerLink]="['community']" style="margin: 20px">
        <mat-icon>person</mat-icon> <span> Community</span></a
      >
    </button>
  </mat-sidenav>
  <mat-sidenav-content class="content"
    ><router-outlet></router-outlet
  ></mat-sidenav-content>
</mat-sidenav-container>
