.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
  height: 100%;
}

.form {
  margin-bottom: 30%;
  height: 20%;
}
.logo {
  font-size: 150px;
}
