.container {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.movie-card {
  max-width: 350px;
  background: rgb(42, 157, 143);
  color: white;
}

.movie-card:hover {
  border: 5px solid;
  border-color: rgb(231, 111, 81);
}
