.container {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.movie-card {
  background: rgb(43, 45, 66);
  color: white;
  max-width: 250px;
}

.movie-card:hover {
  border: 6px solid black;
  border-color: rgb(141, 153, 174);
}
