<form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="form">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" />
  </mat-form-field>

  <div [hidden]="username.valid || username.untouched" class="error">
    <div [hidden]="!username.hasError('required')">Username is required.</div>
  </div>

  <br />

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <div [hidden]="password.valid || password.untouched" class="error">
    <div [hidden]="!password.hasError('required')">password is required.</div>
  </div>
  <br />
  <div><button type="submit" [disabled]="!loginForm.valid">Login</button></div>
</form>
