.search {
  margin-top: 50px;
  margin-left: 50px;
  width: 55%;
}

form.search input[type="text"] {
  padding: 10px;
  font-size: 35px;
  border: none;
  float: left;
  width: 80%;
  height: 50px;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 20%;
  height: 50px;
  background: rgb(42, 157, 143);
  color: white;
  font-size: 47px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.icon-display {
  transform: scale(2);
}
