mat-sidenav {
  width: 20%;
  background: rgb(43, 45, 66);
}

.links span {
  color: rgb(141, 153, 174);
}

.links {
  height: 100vh;
  font-size: 30px;
}
mat-icon {
  transform: scale(3);
  margin-right: 25px;
  color: rgb(141, 153, 174);
}

a {
  text-decoration: none;
}

a:hover {
  font-size: 35px;
}
